- if @article.errors.any?
  = "#{pluralize(@article.errors.count, "error")}"
  - @article.errors.full_messages.each do |msg|
    = msg
    %br
= form_for(@article) do |f|
  = f.text_area :title
  = f.text_area :content
  = f.fields_for :article_tags do |t|
    = t.select :tag_id, current_user.tags.all.collect { |t| [t.name, t.id] }, include_blank: true
    - if t.object.id
      = link_to '[X]', article_tag_path(t.object.id), method: :delete
  = f.submit
