私の投稿一覧 /
= current_user.email
%br
%br
- @articles.each do |article|
  = article.title
  %br
  - if article.tags.any?
    - article.tags.each do |t|
      = link_to t.name, articles_tags_path(t)
  = link_to "編集する", edit_article_path(article)
  %br
  - if article.published?
    = link_to "記事を見る", article_path(article)
  %br
  %br
%br
= link_to "記事を作成する", new_article_path
