私の投稿一覧 /
= current_user.email
%br
%br
- @articles.each do |post|
  = post.title
  %br
  = post.content
  %br/
  = link_to "編集する", edit_article_path(post)
  %br
  - if post.status?
    = link_to "記事を見る", article_path(post)
  %br
%br
= link_to "記事を作成する", new_article_path
