私の投稿一覧
%br
- @articles.each do |post|
  = post.title
  %br
  = post.content
  %br/
  = link_to "編集する", edit_article_path(post)
  %br
  %br
= link_to "記事投稿", new_article_path
%br
= link_to "ユーザートップページへ戻る", user_path(@current_user)
%br
= link_to "ログアウト", logout_path
