ユーザー情報 /
= current_user.email
%br
- if flash[:notice]
  = flash[:notice]
%br
= link_to 'Github連携を行う', github_authorize_new_path
%br
- if current_user.github_access_token
  = link_to '新規レポジトリを作る', github_repositories_new_path
  %br
= link_to "トップページへ戻る", articles_path
